@use '../../../../variables';

.detail {
    h3 {
        padding-bottom: 10px;
    }
}

.tabs {
    display: flex;
    button {
        margin-bottom: 5px;
        margin-right: 5px;
    }
};

.general_info {
    display: flex;
    align-items: center;
    position: relative;

    .machine, .serial {
        margin: 5px 5px 5px 0;
        padding: 7px;
        border-radius: 10px;
        background-color: variables.$beige;
        font-weight: bold;
        font-size: 1.1rem;
    };

    .close_button {
        position: absolute;
        right: 0;
        height: 24px;
        width: 24px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    };
};