.machine_filters {
    display: flex;
    align-items: center;

    .filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 10px;
        input {
            padding: 3px;
            margin: 5px 10px 5px 0;
        };
        .delete_button {
            margin-left: 5px;
            // height: 24px;
            min-width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        };
        .buttons {
            display: flex;
            button {
                height: fit-content;
            }
        }
        
    }
    
};